{% set title = "Download" %}
{% set activeNav = "download" %}
{% extends "_layout.twig" %}
{% block body %}
<h2>Latest version</h2>
<p>The latest version of Open Wii Manager can be obtained below!</p>
<div class="alert alert-info">
    <img src="img/info.png" alt="" width="16" height="16" />
    <span><strong>Note:</strong> Open Wii Manager requires the <a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0" target="_blank" rel="noreferrer nofollow">.NET 6 Desktop Runtime</a>.</span>
</div>
<p style="float:left;margin:8px"><a href="https://github.com/jonaskohl/OpenWiiManager/releases/latest/download/owm-setup.exe" id="download-link">Download now</a></p>
<h3>System requirements</h3>
<ul style="list-style-position:inside;margin:0">
    <li>Windows 7 Service Pack 1 or newer</li>
    <li>2 GB RAM or more</li>
    <li>64 MB available hard disk space</li>
</ul>
<div style="clear: both;"></div>
{% if releases and releases[0] %}
    <h3>What&#39;s new?</h3>
    <div class="release-body">{{ converter.convert(releases[0].body)|raw }}</div>
{% endif %}
<hr />
{% if releases|length %}
    <h2>All versions</h2>
    {% for release in releases %}
        <h3><a href="{{ release.html_url }}">{{ release.name }}</a></h3>
        <p>{{ release.published_at }}</p>
        <div class="release-body">{{ converter.convert(release.body)|raw }}</div>
        <p>
            {% for asset in release.assets %}
                <a class="button" href="{{ asset.browser_download_url }}"><img src="img/owm_web_icon_exe.png" width="11" height="11" alt="" />&#xA0;{{ asset.name }}</a>
            {% endfor %}
        </p>
    {% endfor %}
{% else %}
    <div class="empty-state">
        <div class="empty-state-icon empty-state-icon-releases"></div>
        <span>No releases to show</span>
    </div>
{% endif %}
{% endblock %}
