{% set title = "Source code" %}
{% set activeNav = "source" %}
{% extends "_layout.twig" %}
{% block body %}
<script type="text/javascript">
function fetchCommitDetails(sha) {
    $.get("ajax.source.php?sha=" + encodeURIComponent(sha), function(json) {
        $("#git_additions_" + sha).text(json.stats.additions === 0 ? "0" : ("+"+json.stats.additions)).show();
        $("#git_additions_" + sha + "_spinner").hide();
        $("#git_deletions_" + sha).text(json.stats.deletions === 0 ? "0" : ("-"+json.stats.deletions)).show();
        $("#git_deletions_" + sha + "_spinner").hide();
    });
}
</script>
<p style="float:right;margin:0">
    <a class="button" href="https://github.com/{{ getenv("REPO_AUTHOR")|url_encode }}/{{ getenv("REPO_NAME")|url_encode }}/archive/refs/heads/{{ getenv("REPO_BRANCH")|url_encode }}.tar.gz"><img src="img/owm_web_icon_download.png" width="11" height="11" alt="" />&#xA0;Download archive</a>
    <a class="button" href="#" onclick="$('#cloneUrl').toggle('fast', function(){$owm.resizePageHeight()});return false"><img src="img/owm_web_icon_clone.png" width="11" height="11" alt="" />&#xA0;Clone repository</a>
</p>
<h2>Source code</h2>
<div style="clear:both"></div>
<div id="cloneUrl" class="box" style="display:none">
    <div class="code-wrapper">
        <pre>{#
#}git clone https://github.com/{{ getenv("REPO_AUTHOR")|url_encode }}/{{ getenv("REPO_NAME")|url_encode }}.git
cd {{ getenv("REPO_NAME") }}
git checkout {{ getenv("REPO_BRANCH") }}{#
#}</pre>
    </div>
</div>
<p>
OpenWiiManager is <em class="purple-em">open source software</em> and licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html.en"><em>GNU General Public License, Version 3</em></a>.
<br />
Below is a complete list of source commits to the <a href="//github.com/{{ getenv("REPO_AUTHOR")|url_encode }}/{{ getenv("REPO_NAME")|url_encode }}.git">Open Wii Manager repository</a>.
</p>
<h2>Commit history</h2>
{% if commits|length > 0 %}
<table class="full-width bordered">
    <thead>
        <tr>
            <th></th>
            <th>SHA</th>
            <th>Author</th>
            <th>Message</th>
            <th colspan="2">Changes</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
{% for i, commit in commits %}
        <tr class="{{ i % 2 == 0 ? "even" : "odd" }}">
            <td class="col-collapsed col-center">
                {% if commit.commit.verification.verified %}
                    <img src="img/owm_web_light_green.png" width="24" height="24" class="verification-status" alt="Verified commit" title="Verified commit" />
                {% else %}
                    <img src="img/owm_web_light_off.png" width="24" height="24" class="verification-status" alt="Unverified commit" title="Unverified commit" />
                {% endif %}
            </td>
            <td class="col-collapsed"><a href="{{ commit.html_url }}"><code>{{ commit.sha|slice(0, 7) }}</code></a></td>
            <td class="col-collapsed">
                <img onload="this.className=this.className.replace('avatar-loading','')" onerror="this.className=this.className.replace('avatar-loading','avatar-error')" class="avatar-loading avatar-image" src="avatarproxy.php?url={{ (commit.author.avatar_url ~ "&s=16")|url_encode }}" alt="" title="Avatar" width="16" height="16" />
                <a href="{{ commit.author.html_url }}">{{ commit.commit.author.name }}</a>
            </td>
            <td>{{ owm_truncate_string(commit.commit.message, 80) }}</td>
            <td class="col-right col-collapsed">
                <span class="git-changes-additions" id="git_additions_{{ commit.sha }}" style="display:none" title="Additions"></span>
                <span class="spinner" id="git_additions_{{ commit.sha }}_spinner"></span>
            </td>
            <td class="col-right col-collapsed">
                <span class="git-changes-deletions" id="git_deletions_{{ commit.sha }}" style="display:none" title="Deletions"></span>
                <span class="spinner" id="git_deletions_{{ commit.sha }}_spinner"></span>
            </td>
            <td class="col-right col-collapsed">{{ commit.commit.committer.date|date("D, jS M Y, H:i") }}</td>
        </tr>
        <script type="text/javascript">fetchCommitDetails({{ commit.sha|json_encode()|raw }});</script>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="empty-state">
    <div class="empty-state-icon empty-state-icon-commits"></div>
    <span>No commits to show</span>
</div>
{% endif %}
{% endblock %}
